@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_EmployeeOneLayout";
}
<p class="display-5">Login to Authorize First..</p>
<form asp-action="Login" asp-controller="Account">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name"/>
    </div>
    <div class="mb-3">
        <label for="id" class="form-label">ID</label>
        <input type="password" class="form-control" id="id" name="id">
    </div>
    <button type="submit" class="btn btn-dark btn-xl">Login</button>
</form>
